*{
    font-family: poppins;
}
img.w-100 {
    width: 100% !important;
    height: 100vh;
    filter: brightness(0.5);
    padding: 70px;
    padding-bottom: 0;
    
  }


a{
    font-size: 1.4rem;
    padding-top: 0;
    top: 2px;
    
}
li{
    padding: 0 15px;
    
}
.paragraph{
    font-size:1.4rem;
    color: white;
}
/*hero*/

.title{
    font-weight: 500;
    font-size: 2rem;
    color: white;
    
}
.card{
    margin: 15px;
}

button>.download{
    margin: 500px;
}
/*navbar*/
.navbar{
    box-shadow: 0 4px  8px black;
    z-index: 1;
}

/*hero*/
.gblobal-container{
    height: 90vh;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
    
}
/*about*/
p.about{
    color: black;
    line-height: 2.5rem;
}

/*mobile version*/
@media (max-width: 992px){


   
}

@media (max-width: 768px){
    .title>h1{
        font-size: 40px;
    }
    .paragraph>p{
        font-size: 15px;
    }
    .gblobal-container{
        height: 135%;
    }
    
    img.w-100 {
        width: 100% !important;
        height: 50vh;
        filter: brightness(0.5);
        padding: 50px;
        padding-bottom: 0;
        
      }

}

@media (max-width: 576px){
    .title>h1{
        font-size: 40px;
    }
    .paragraph>p{
        font-size: 15px;
    }
    .gblobal-container{
        height: 135%;
    }
    
    img.w-100 {
        width: 100% !important;
        height: 40vh;
        filter: brightness(0.5);
        padding: 50px;
        padding-bottom: 0;
        
      }
}
